@model IEnumerable<ThAmCo.Events.Models.EventViewModel>

@{
    ViewData["Title"] = "ListGuests";
}

<h2>ListGuests</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table">

        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attended)
                </th>
                
                <th>
                    set attended
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                        @Html.HiddenFor(ModelItem => item.id)
                    </td>
                    <td>
                        
                            
                            

                            @Html.DisplayFor(modelItem => item.Attended)
                            
                        
                    </td>
                    <td>
                        <form asp-action="UpdateAttended">
                            <input id="CustomerId" name="CustomerId" type="hidden" value="@item.CustomerId" />
                            <input id="EventId" name="EventId" type="hidden" value="@item.id" />
                            <input type="checkbox" name="Attended" value="true" />
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </form>
                        

                        
                    </td>
                    <td>
                        <form asp-action="DeleteBooking">
                            <input type="hidden" value="@item.id" />
                            <input id="CustomerId" name="CustomerId" type="hidden" value="@item.CustomerId" />
                            <input id="EventId" name="EventId" type="hidden" value="@item.id" />
                            <input id="Attended" name="Attended" type="hidden" value="@item.Attended" />
                            <input id=" FirstName" name="FirstName" type="hidden" value="@item.FirstName" />
                            <input id="Surname" name="Surname" type="hidden" value="@item.Surname" />
                            <button type="submit" value="@item.id" name="id">Delete </button>
                            

                        </form>
                        
                    </td>
                    <td></td>
                
            </tr>
            }

        </tbody>
    </table>


