@model IEnumerable<ThAmCo.Events.Models.reserveVenueModel>

@{
    ViewData["Title"] = "ReserveVenue";
}

<h2>ReserveVenue</h2>

<div>
    <h4>reserveVenueModel</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd>
                @Html.DisplayFor(ModelItem => item.Duration)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TypeId)
            </dt>
            <dd>
                @Html.DisplayFor(modelItem => item.TypeId)
            </dd>
        }

    </dl>

</div>
<div>
    @foreach (var item in Model)
    {
        @Html.DropDownListFor(ModelItem => item.Venues, item.Venues, "select a venue")
    <form asp-action="ReserveVenueConfirm">
        <input type="hidden" value="@item.Id" />
        <input id="Title" name="Title" type="hidden" value="@item.Title" />
        <input id="Date" name="Date" type="hidden" value="@item.Date" />
        <input id="Duration" name="Duration" type="hidden" value="@item.Duration" />
        <input id=" TypeId" name="TypeId" type="hidden" value="@item.TypeId" />
        <input id="Venues" name="Venues" type="hidden" value="@item.Venues" />
        
        <button type="submit" value="@item.Id" name="id">Reserve Venue </button>
    </form>
    }
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
